---
################################################################################
# Common initial setup tasks for all workstations (end user devices)
################################################################################
- hosts: localhost
  connection: local
  gather_facts: yes
  tags: always
  become: true
  vars:
    debian_like_distributions:
      - Pop!_OS
      - Ubuntu
      - Debian
      - Kubuntu
      - Xubuntu
      - Zorin OS
    suse_like_distributions:
      - openSUSE Leap
      - openSUSE Tumbleweed
      - SUSE Leap
      - SUSE Tumbleweed
  pre_tasks:
    # Update native package managers where necessary:
    - name: pre-run | update package cache (arch)
      tags: always
      pacman: update_cache=yes
      changed_when: False
      when: ansible_distribution == "Archlinux"

    - name: pre-run | update package cache (debian, based systems)
      tags: always
      apt: update_cache=yes
      changed_when: False
      when: ansible_distribution in debian_like_distributions

    - name: pre-run | update package cache (opensuse)
      tags: always
      command: zypper --non-interactive refresh
      changed_when: False
      when: ansible_distribution in suse_like_distributions

    # set up flatpak support
    - name: system setup | tweaks | add flatpak support
      package:
        name: flatpak
        state: present
      when: ansible_distribution in (debian_like_distributions + suse_like_distributions)

    - name: system setup | tweaks | flatpak | add flathub remote
      tags: packages,flatpak,workstation-packages
      become:
      flatpak_remote:
        name: flathub
        state: present
        flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
      when: ansible_distribution in (debian_like_distributions + suse_like_distributions)

    # set up snap support
    - name: system setup | tweaks | install snapd
      package:
        name: snapd
        state: present
      when: ansible_distribution in (debian_like_distributions + suse_like_distributions)

    # Install basic common software:
    - name: install packages (debian-like)
      package:
        name:
         - htop
         - byobu
         - vim-nox
         - tilix
      when: ansible_distribution in debian_like_distributions

    - name: install packages (opensuse)
      package:
        name:
         - htop
         - byobu
         - vim
         - tilix
      when: ansible_distribution in suse_like_distributions

################################################################################
# Distribution speciffic non-generic tasks
################################################################################

# distro-specific tasks for ubuntu
    - name: system setup | tweaks | disable apport in config on ubuntu-based hosts
      tags: distro,distro-setup,apport,ubuntu
      lineinfile:
        dest: /etc/default/apport
        regexp: "enabled="
        line: "enabled=0"
      failed_when: false
      when: ansible_distribution in debian_like_distributions

    - name: system setup | tweaks | disable and stop apport service on ubuntu-based hosts
      tags: distro,distro-setup,apport,ubuntu
      service:
        name: apport
        enabled: no
        state: stopped
      failed_when: false
      when: ansible_distribution in debian_like_distributions
