---
################################################################################
# Common initial setup tasks for all workstations (end user devices)
################################################################################
- hosts: localhost
  connection: local
  gather_facts: yes
  tags: always
  become: true
  vars:
    debian_like_distributions:
      - Pop!_OS
      - Ubuntu
      - Debian
      - Kubuntu
      - Xubuntu
      - Zorin OS
    suse_like_distributions:
      - openSUSE Leap
      - openSUSE Tumbleweed
      - SUSE Leap
      - SUSE Tumbleweed
    fedora_like_distributions:
      - Fedora
    rhel_like_distributions:
      - AlmaLinux
  pre_tasks:
    # Update native package managers where necessary:
    - name: pre-run | update package cache (arch)
      tags: always
      pacman: update_cache=yes
      changed_when: False
      when: ansible_distribution == "Archlinux"

    - name: pre-run | upgrade packages (arch)
      tags: always
      pacman:
        update_cache: yes
        upgrade: yes
      when: ansible_distribution == "Archlinux"

    - name: pre-run | update package cache (debian, based systems)
      tags: always
      apt: update_cache=yes
      changed_when: False
      when: ansible_distribution in debian_like_distributions

    - name: pre-run | upgrade packages (debian, based systems)
      tags: always
      apt:
        upgrade: dist
        update_cache: yes
      when: ansible_distribution in debian_like_distributions

    - name: pre-run | update package cache (opensuse)
      tags: always
      command: zypper --non-interactive refresh
      changed_when: False
      when: ansible_distribution in suse_like_distributions

    - name: pre-run | upgrade packages (opensuse)
      tags: always
      ansible.builtin.zypper:
        name: '*'
        state: latest
      when: ansible_distribution in suse_like_distributions

    - name: pre-run | update package cache (fedora/alma)
      tags: always
      ansible.builtin.dnf:
        update_cache: yes
      changed_when: False
      when: ansible_distribution in (fedora_like_distributions + rhel_like_distributions)

    - name: pre-run | upgrade packages (fedora/alma)
      tags: always
      ansible.builtin.dnf:
        name: '*'
        state: latest
      when: ansible_distribution in (fedora_like_distributions + rhel_like_distributions)

    # set up flatpak support
    - name: system setup | add flatpak support
      package:
        name: flatpak
        state: present
      when: ansible_distribution in (debian_like_distributions + suse_like_distributions + fedora_like_distributions + rhel_like_distributions)

    - name: system setup | flatpak | add flathub remote
      tags: packages,flatpak,workstation-packages
      become:
      flatpak_remote:
        name: flathub
        state: present
        flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
      when: ansible_distribution in (debian_like_distributions + suse_like_distributions + fedora_like_distributions + rhel_like_distributions)

    - name: pre-run | update flatpak applications
      command: flatpak update --system --assumeyes
      register: flatpak_update
      changed_when: >
        "Nothing to do." not in (flatpak_update.stdout | default('') ~ flatpak_update.stderr | default(''))
      when: ansible_distribution in (debian_like_distributions + suse_like_distributions + fedora_like_distributions + rhel_like_distributions)

    # set up snap support
    - name: system setup | determine snapd repo url (suse)
      set_fact:
        snapd_repo_url: "{{ 'https://download.opensuse.org/repositories/system:/snappy/openSUSE_Tumbleweed' if 'Tumbleweed' in ansible_distribution else 'https://download.opensuse.org/repositories/system:/snappy/openSUSE_Leap_' ~ ansible_distribution_version }}"
      when:
        - ansible_distribution in suse_like_distributions
        - "'Tumbleweed' in ansible_distribution or 'Leap' in ansible_distribution"

    - name: system setup | tweaks | ensure snapd repo present (suse)
      ansible.builtin.zypper_repository:
        name: snappy
        repo: "{{ snapd_repo_url }}"
        state: present
        autorefresh: yes
      when: snapd_repo_url is defined

    - name: system setup | configure epel (alma linux)
      package:
        name: epel-release
        state: present
      when: ansible_distribution in rhel_like_distributions

    - name: system setup | configure epel next (alma linux 8)
      package:
        name: epel-next-release
        state: present
      when:
        - ansible_distribution in rhel_like_distributions
        - ansible_distribution_major_version | int == 8

    - name: system setup | tweaks | install snapd
      package:
        name: snapd
        state: present
      when: ansible_distribution in (debian_like_distributions + suse_like_distributions + fedora_like_distributions + rhel_like_distributions)

    - name: system setup | enable snapd services (suse)
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: true
        state: started
      loop:
        - snapd
        - snapd.apparmor
      when:
        - ansible_distribution in suse_like_distributions
        - ansible_service_mgr == "systemd"

    - name: system setup | enable snapd socket (fedora/alma)
      ansible.builtin.systemd:
        name: snapd.socket
        enabled: true
        state: started
      when:
        - ansible_distribution in (fedora_like_distributions + rhel_like_distributions)
        - ansible_service_mgr == "systemd"

    - name: pre-run | refresh snap packages
      command: snap refresh
      register: snap_refresh
      changed_when: >
        "All snaps up to date." not in (snap_refresh.stdout | default('') ~ snap_refresh.stderr | default('')) and
        "No snaps are installed yet." not in (snap_refresh.stdout | default('') ~ snap_refresh.stderr | default(''))
      when: ansible_distribution in (debian_like_distributions + suse_like_distributions + fedora_like_distributions + rhel_like_distributions)

    # Install basic common software:
    - name: install packages (debian-like)
      package:
        name:
         - htop
         - byobu
         - vim-nox
         - tilix
      when: ansible_distribution in debian_like_distributions

    - name: install packages (opensuse)
      package:
        name:
         - htop
         - byobu
         - vim
         - tilix
      when: ansible_distribution in suse_like_distributions

    - name: install packages (fedora-like)
      package:
        name:
         - htop
         - byobu
         - vim
         - tilix
      when: ansible_distribution in fedora_like_distributions

    - name: install packages (alma linux)
      package:
        name:
         - htop
         - byobu
         - vim
         - tilix
      when: ansible_distribution in rhel_like_distributions

################################################################################
# Distribution speciffic non-generic tasks
################################################################################

# distro-specific tasks for ubuntu
    - name: system setup | tweaks | disable apport in config on ubuntu-based hosts
      tags: distro,distro-setup,apport,ubuntu
      lineinfile:
        dest: /etc/default/apport
        regexp: "enabled="
        line: "enabled=0"
      failed_when: false
      when: ansible_distribution in debian_like_distributions

    - name: system setup | tweaks | disable and stop apport service on ubuntu-based hosts
      tags: distro,distro-setup,apport,ubuntu
      service:
        name: apport
        enabled: no
        state: stopped
      failed_when: false
      when: ansible_distribution in debian_like_distributions
